<div class="container py-4">

  <% if current_user.partner.present? %>
  <% if @gift_suggestions.present? %>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>提案①</th>
          <th>提案②</th>
          <th>提案③</th>
          <th>提案をしまう</th>
        </tr>
      </thead>
  
      <tbody>
        <% @gift_suggestions.each_with_index do |gs, num| %>
          <tr>
            <th scope="row"><%= num + 1 %></th>
  
            <td><%= gs.suggestion_names[0] %></td>
            <td><%= gs.suggestion_names[1] %></td>
            <td><%= gs.suggestion_names[2] %></td>

            <td>
              <%= button_to "削除",
                  gift_suggestion_path(gs),
                  method: :delete,
                  class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
  
    </table>
    <% else %>

      <!-- ここが0件のとき -->
      <div class="card shadow-sm">
        <div class="card-body text-center">

          <p class="mb-3">
            まだプレゼントの記録がありません🎁
          </p>

          <p class="text-muted small mb-4">
            最初のプレゼント、一緒に考えてみようか😊
          </p>

          <%= link_to "プレゼントを考える",
              new_gift_suggestion_path,
              class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  <% else %>
  
    <div class="card">
      <div class="card-body text-center">
  
        <p class="mb-3">まだプレゼントの提案ができません</p>
        <p class="text-muted small mb-4">
          パートナーのことを教えてくれると、
          ぴったりなプレゼントを考えられるよ
        </p>
  
        <%= link_to "パートナー登録する",
            new_partner_path,
            class:"btn btn-primary" %>
  
      </div>
    </div>
  
  <% end %>
  
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @gift_suggestions %>
  </div>
  </div>