<div class="container py-4">

  <% if current_user.partner.present? %>
  
    <h2 class="mb-4">プレゼント履歴</h2>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>削除</th>
        </tr>
      </thead>
  
      <tbody>
        <% @gift_suggestions.each_with_index do |gs, num| %>
          <tr>
            <th scope="row"><%= num + 1 %></th>
  
            <td><%= gs.suggestion_names[0] %></td>
            <td><%= gs.suggestion_names[1] %></td>
            <td><%= gs.suggestion_names[2] %></td>

            <td>
              <%= button_to "削除",
                  gift_suggestion_path(gs),
                  method: :delete,
                  data: { turbo: false},
                  class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
  
    </table>
  
  <% else %>
  
    <div class="card">
      <div class="card-body text-center">
  
        <p>パートナーを登録してプレゼント提案してみよう</p>
  
        <%= link_to "パートナー登録",
            new_partner_path,
            class:"btn btn-primary" %>
  
      </div>
    </div>
  
  <% end %>
  
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @gift_suggestions %>
  </div>
  
  </div>