<div class="card shadow-sm" data-controller="progressbar-intro">
  <div class="card-body">
    <%= form_with model: partner ,url: partner_path do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
  
    <div class="mb-3">
      <%= f.label :name, "名前（必須）" %>
      <%= f.text_field :name, class: "form-control",placeholder:"for-mineくん", data: { progressbar_intro_target: "name", action:"change->progressbar-intro#appear" }%>
    </div>

    <p data-progressbar-intro-target="intro" class="text-muted d-none mt-0" style="font-size: 0.85rem;">ここから下の情報を入力すると、プレゼント提案の精度が向上します</p>

    <div class="row">
      <div class="col mb-3">
        <%= f.label :sex, "性別" %>
        <%= f.text_field :sex, class: "form-control" ,placeholder: "どんな方ですか？"%>
      </div>
  
      <div class="col mb-3">
        <%= f.label :age, "年齢" %>
        <%= f.number_field :age, class: "form-control", placeholder:"例：20" %>
      </div>
    </div>
  
    <div class="row">
      <div class="col mb-3">
        <%= f.label :job, "職業" %>
        <%= f.text_field :job, class: "form-control", placeholder:"例：会社員、学生" %>
      </div>
  
      <div class="col mb-3">
        <%= f.label :relation, "関係性" %>
        <%= f.text_field :relation, class: "form-control", placeholder:"例：恋人、友達" %>
      </div>
    </div>
  
    <div class="mb-3">
      <%= f.label :favorites, "好きなこと（、区切り）" %>
      <%= f.text_area :favorites,value: partner.favorites.join("、"),
        class: "form-control",rows: 2 ,placeholder: "読書、散歩"%>
    </div>
  
    <div class="mb-3">
      <%= f.label :avoidances, "苦手なこと（、区切り）" %>
      <%= f.text_area :avoidances,
        value: partner.avoidances.join("、"),
        class: "form-control",
        rows: 2 , placeholder: "例：辛いもの、人混み"%>
    </div>
  
    <div class="mb-3">
      <%= f.label :hobbies, "趣味（、区切り）" %>
      <%= f.text_area :hobbies,
        value: partner.hobbies.join("、"),
        class: "form-control",
        rows: 2 , placeholder: "例：ゲーム、料理"%>
    </div>
  
    <div class="row">
      <div class="col mb-3">
        <%= f.label :budget_min, "予算（下限）" %>
        <%= f.number_field :budget_min, class: "form-control" , placeholder:"例：3000"%>
      </div>
  
      <div class="col mb-3">
        <%= f.label :budget_max, "予算（上限）" %>
        <%= f.number_field :budget_max, class: "form-control", placeholder:"例：10000" %>
      </div>
    </div>
  
    <div class="text-end">
      <%= f.submit submit_label, class: "btn btn-primary" %>
    </div>
  <% end %>
  
  </div>
</div>