<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">

      <% if @partner.present? %>

      <% if @partnercount <= 30 %>
        <p class="text-muted  mb-0" style="font-size: 0.85rem;">パートナーのことをもっと教えてくれると、より良いプレゼントを提案できるよ😊</p>
      <% elsif @partnercount <= 70 %>
        <p class="text-muted  mb-0" style="font-size: 0.85rem;">パートナーのことがだいぶ分かってきたよ😊あと少しでぴったりなプレゼントを提案できそう</p>
      <% else %>
        <p class="text-muted  mb-0" style="font-size: 0.85rem;">パートナーのことをたくさん教えてくれたから、かなり精度の高いプレゼントを提案できる状態だよ✨</p>
      <% end %>

        <label class="form-label mb-0">登録率</label>

        <div class="progress mb-3"> 
          <div class="progress-bar <%= @partner.progress_bar_color %>"
               role="progressbar"
               style="width:<%= @partnercount %>%"
               aria-valuenow="<%= @partnercount %>"
               aria-valuemin="0"
               aria-valuemax="100">
            <%= @partnercount %>%
          </div>
        </div>

    
        <article class="card shadow-sm">
          <div class="card-body">

          <div class="text-center mb-4">
            <%= image_tag "for_mine_logo.png",class:"rounded-circle", width:"120" %>
          </div>
    

            <h5 class="card-title mb-3">
              名前: <%= @partner.name %>
            </h5>

            <p class="card-text">
              好きなこと: <%= @partner.favorites.join('、') %>
            </p>

            <p class="card-text">
              嫌いなこと: <%= @partner.avoidances.join('、') %>
            </p>

            <p class="card-text">
              趣味: <%= @partner.hobbies.join('、') %>
            </p>

            <div class="mt-3 d-flex gap-2">

              <%= link_to "編集",
                  edit_partner_path(@partner),
                  class: "btn btn-outline-primary" %>

              <%= render "shared/confirm_delete_modal" %>

            </div>

          </div>
        </article>

      <% else %>

        <div class="card">
          <div class="card-body text-center">

            <p class="mb-3">まだパートナーの情報がありません</p>
            <p class="text-muted small mb-4">
              大切な人のこと、少しだけ教えてくれる？
            </p>

            <%= link_to "登録",
                new_partner_path,
                class:"btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>