<div class="mt-3">
    <h1><%= "パートナーについて" %></h1>
</div>


<div class="container pt-5">
    <div class="row mb-3">
      <div class="col-lg-8 offset-lg-2">

        <div>
          <img src="#" class="rounded-circle">
        </div>
  
        <% if @partner.present? %>
        <label for="file">登録率</label>
        <div class="progress "> 
          <div class="progress-bar <%= @partner.progress_bar_color %>" 
               role="progressbar" 
               style="width:<%= @partnercount %>%;"  
               aria-valuenow=<%= @partnercount %> 
               aria-valuemin="0" 
               aria-valuemax="100">
               <%= @partnercount%>%
              </div>
        </div> 
        
          <article class="card">
            <div class="card-body">
              <div class="col">
                <h3>タイトル: <%= @partner.name %></h3>
              </div>
  
              <div class="col">
                <h3>好きなこと: <%= @partner.favorites.join('、') %></h3>
              </div>
  
              <div class="col">
                <h3>嫌いなこと: <%= @partner.avoidances.join('、') %></h3>
              </div>
  
              <div class="col">
                <h3>趣味: <%= @partner.hobbies.join('、') %></h3>
              </div>
  
              <div class="mt-3">
                <%= link_to "編集", edit_partner_path %>
                <!-- <button id="delete-btn">削除</button> -->
                 
              </div>
            </div>
          </article>
            <!-- 確認ポップアップ用のモーダル -->
            <%= render "shared/confirm_delete_modal"%>

        <% else %>
          <div>
            <p>相手が見つかっていません</p>
            <%= link_to "見つけた", new_partner_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  

