<li>
    <%= link_to "ログアウト", destroy_user_session_path,data: { turbo_method: :delete } %>
</li>
<li>
    <%= link_to "記念日", anniversaries_path %>
</li>

<% if @partner.present?%>

<div>
    <%= @partner.name%>
    <%= link_to "編集", edit_partner_path%>
    <%= link_to "削除", "#"%>
</div>

<% else %>
<div>
    <p>相手が見つかっていません</p>
    <%= link_to "見つけた", new_partner_path %>
</div>
<% end %>