<nav class="navbar bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">トップ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <%= link_to "利用規約","#", {class: "nav-link active"}%>
            </li>
            <li class="nav-item">
                <%= link_to "使い方", how_to_show_path, {class: "nav-link active"}%>
            </li>
            <li class="nav-item">
                <%= link_to "お問い合わせ","#", {class: "nav-link active"}%>
            </li>
            <li class="nav-item">
                <%= link_to "プライバシーポリシー","#", {class: "nav-link active"}%>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <%= link_to "ホーム", user_root_path, class: "navbar-brand"%>
        <!-- link_to は基本「最後に options を1つ」なので、data: と class: を 同じハッシュにまとめる必要があります。 -->
        <%= link_to "ログアウト",
        logout_path,
        class: "navbar-brand",
        data: { turbo_method: :delete } %>
        <%= link_to "マイページ", my_pages_show_path, class: "navbar-brand" %>
      </div>
    </div>
  </nav>
  