<div class="container">

  <h2 class="mb-4">Gift Suggestions</h2>
  
  <%= render "admin/gift_suggestions/search", q: @q %>
  
  <table class="table table-striped table-hover">
  
  <thead>
  <tr>
  <th>ID</th>
  <th>User</th>
  <th>Status</th>
  <th>Date</th>
  </tr>
  </thead>
  
  <tbody>
  
  <% @gift_suggestions.each do |g| %>
  
  <tr>
  <td><%= g.id %></td>
  <td><%= g.user_id %></td>
  <td><%= g.status %></td>
  <td><%= l g.created_at, format: :short %></td>
  </tr>
  
  <% end %>
  
  </tbody>
  
  </table>
  
  <div class="d-flex justify-content-center mt-4">
  <%= paginate @gift_suggestions %>
  </div>
  
  </div>