<% form_with_options = form.anniversary.persisted? ?
  { url: anniversary_path(form.anniversary), method: :patch } :
  { url: anniversary_path, method: :post} %>
<%= form_with model: form ,url: anniversaries_path, **form_with_options do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="mb-3">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <div class="row">
      <div class="col">
     <%= f.label :anniversary_date, "記念日" %>
    <%= f.date_field :anniversary_date, class: "form-control" %>         
      </div>
      <div class="col">
        <div class="row">
          <div>
            <p>通知設定</p>
          </div>
          <div class="col">
            <%= f.radio_button :is_enabled, true %>
            <%= f.label :is_enabled, "ON" %>
          </div>
          <div class="col">
            <%= f.radio_button :is_enabled, false %>
            <%= f.label :is_enabled, "OFF" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>

  </div>

  <%= f.submit submit_label, class: "btn btn-primary" %>
<% end %>  


// #
// #  id                :bigint           not null, primary key
// #  frequency_days    :integer          default(1), not null
// #  is_enabled        :boolean          default(FALSE), not null
// #  last_sent_on      :date
// #  notification_time :time
// #  start_on          :date
// #  created_at        :datetime         not null
// #  updated_at        :datetime         not null
// #  anniversary_id    :bigint           not null
// #
// # Indexes