<%= form_with model: anniversary do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="mb-3">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :anniversary_date, "記念日" %>
    <%= f.date_field :anniversary_date, class: "form-control" %>
  </div>

  <%= f.submit submit_label, class: "btn btn-primary" %>
<% end %>