<div class="card shadow-sm" data-controller="notification">
  <div class="card-body">

<% form_with_options = form.anniversary.persisted? ?
  { url: anniversary_path(form.anniversary), method: :patch } :
  { url: anniversaries_path, method: :post} %>

<%= form_with model: form ,**form_with_options do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="mb-3">
    <%= f.label :title, "タイトル", class:"form-label" %>
    <%= f.text_field :title, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :anniversary_date, "記念日", class:"form-label" %>
    <%= f.date_field :anniversary_date, class:"form-control" ,  data: {
    notification_target: "date",
    action: "change->notification#calculate"
  } %>
  </div>

  <div class="mb-3">
    <label class="form-label">通知設定</label>

    <div class="form-check">
      <%= f.radio_button :is_enabled, true, checked: @form.is_enabled, class:"form-check-input",data: { action: "change->notification#toggle" } %>
      <%= f.label :is_enabled, "ON", class:"form-check-label" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :is_enabled, false, checked: !@form.is_enabled, class:"form-check-input",data: { action: "change->notification#toggle" } %>
      <%= f.label :is_enabled, "OFF", class:"form-check-label" %>
    </div>
  </div>
  <div class="mb-3">
    <%= f.label :start_on, "通知開始日", class:"form-label" %> <br>
    <small>この日から通知が届きます</small>
    <%= f.date_field :start_on, class:"form-control" %>
  </div>
  <p data-notification-target="result" class="text-muted d-none"></p>

  
  <div class="mb-3">
    <%= f.label :notification_hour, "通知時間", class:"form-label" %>

    <%= f.select :notification_hour,
      (0..23).map { |h| ["%02d:00" % h,h] },
      { include_blank: true },
      class:"form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :frequency_days, "通知頻度", class:"form-label" %> <br>
    <small>通知開始日から通知最終日まで指定した頻度で通知が届きます</small>
    <%= f.select :frequency_days,NotificationSetting.frequency_days.keys.map { |k|[I18n.t("activerecord.attributes.notification_setting.frequency_days.#{k}"), k]},{},
  class:"form-select"%>
  </div>

  <div class="text-end">
    <%= f.submit submit_label, class:"btn btn-primary" %>
  </div>
<% end %>

  </div>
</div>