<%= search_form_for q ,url: anniversaries_path, method: :get do |f| %>
<%= f.label :title_cont, "タイトル" %>
<%= f.search_field :title_cont %>
<%= f.label :anniversary_date_during_month, "期間"%>
<%= raw sprintf(
    f.date_select(
      :anniversary_date_during_month,
      discard_day: true,
      include_blank: true,
      use_month_numbers: true,
      date_separator: '%s'),
    '年 ') + '月' %>
<div class="actions ransack-submit"><%= f.submit "検索" %></div>
<%= link_to "リセット", anniversaries_path %>
<% end %>
