

<div>
    <% if @anniversaries.present? %>
        <% @anniversaries.each do |anniversary| %>
        <div>
        <div>
            <%= anniversary.title %>
            <%= anniversary.anniversary_date %>               
        </div>
        <div>
            <%= link_to "edit",edit_anniversary_path(anniversary) %>
            <%= link_to "削除", anniversary_path(anniversary), data: { turbo_method: :delete }%>
        </div>
        </div>
        <% end %>
    <% else %>
        <div>
            <p>記念日がありません</p>
        </div>
    <% end %>
     <div>
        <%= link_to " 作成",new_anniversary_path %>
     </div>
</div>