<h1>記念日一覧</h1>
<div class="container py-3">
    <% if @anniversaries.present? %>
      <div class="row g-3">
        <% @anniversaries.each do |anniversary| %>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100 shadow-sm">
              <div class="card-body">
                <h5 class="card-title mb-2">
                    タイトル：  <%= anniversary.title %>
                </h5> 
                <p class="card-text mb-2">
                  記念日：<%= anniversary.anniversary_date %>
                </p>
                <p class="card-text mb-2">
                  通知日：<%= anniversary.notification_setting.start_on %>
                </p>
                <p class="card-text mb-0">
                  通知設定：<%= anniversary.notification_setting.is_enabled ? "ON" : "OFF" %>
                </p>
                <div class="text-success mt-2"><%= anniversary.anniversary_calculate %></div>
              </div>
  
              <div class="card-body pt-0">
                <%= link_to "詳細", anniversary_path(anniversary), class: "card-link" %>
                <%= link_to "編集", edit_anniversary_path(anniversary), class: "card-link" %>
                <%= link_to "削除", anniversary_path(anniversary),
                      data: { turbo_method: :delete},
                      class: "card-link text-danger" %>
              </div>
            </div>
          </div>
        <% end %>
        
        <%= link_to "記念日追加", new_anniversary_path, class: "btn-primary" %>
        <div class="mt-5">
          <p>通知を受け取るには公式ライン登録が必要です(まだ未実装)</p>
          <a href="https://lin.ee/XNdU8tj"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>          
        </div>

      </div>
      <a href="<%= ENV['APP_BASE_URL'] %>" class="href">aaa</a>


    <% else %>
      <p>記念日がありません</p>

    <div class="mt-3 ms-3">
      <%= link_to "記念日作成", new_anniversary_path, class: "btn-primary " %>
    </div>

    <div class="mt-5">
      <p>通知を受け取るには公式ライン登録が必要です(まだ未実装)</p>
      <a href="https://lin.ee/XNdU8tj"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>          
    </div>

  <% end %>
  </div>
  
  
  <%= month_calendar events: @anniversaries do |date, anniversaries| %>
    <%= date.day %>

    <% anniversaries.each do |anniversary| %>
      <div>
        <%= link_to anniversary.title, anniversary_path(anniversary) %>
      </div>
    <% end %>

  <% end %>

  <!-- <p class="card-text mb-0">
    通知設定： anniversary.notification_settings.notifiation_on ? "ON" : "OFF" %>
  </p> -->