<%= form_with model: @anniversary  do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div>
     <div>
        <%= f.label :title%>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :anniversary_date %>
        <%= f.date_field :anniversary_date %>
    </div>   
    <%= f.submit nil %>
<% end %>
<div>
    <%= link_to "一覧へ", anniversaries_path%>
</div>
</div>
